<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/ff84dc085c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- MOBİLE NAVBAR MENU ACTİVE -->
    <div class="container mobile-navbar" id="mobile-navbar">
        <div class="mobile-links">
          <a href="#">Contact Us</a>
          <hr />
          <a href="#">Download</a>
          <hr />
          <a href="#">Other Apps</a>
        </div>
      </div>
      <!-- NAVBAR -->
      <nav class="navigation">
        <h1 id="brand">MOVİES</h1>
        <div id="all-links">
          <div id="links">
            <a href="#">Full HD</a>
            <a href="#">New Arrivals</a>
            <a href="#">Best IMDb</a>
            <a href="#">Contact Us</a>
          </div>
          <div id="menu">
            <p id="menu-title">MENU</p>
            <i class="fa-solid fa-bars menu-icon" id="icon-menu"></i>
            <!-- <i class="fa fa-caret-down"></i> -->
            <div id="menu-links">
              <a href="#">Contact Us</a>
              <br />
              <a href="#">Download</a>
              <br />
              <a href="#">Other Apps</a>
            </div>
          </div>
        </div>
      </nav>