<%- include("partials/header") -%>
<div class="container homepage">
  <form action="/" method="post">
    <h1>SEARCH YOUR FAVORITE MOVIE</h1>
    <input class="movieSearch" type="text" name="movieName" />
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</div>

<%- include("partials/footer") -%>
